.App {
  text-align: center;
}

.fixedBG {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 100%);
  top: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: unset;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background: #42b0a0;
  border-radius: 15px;
}
.notification-container {
  width: 400px !important;
}

.notification {
  box-shadow: unset !important;
  backdrop-filter: blur(15px) !important;
}

.notification:nth-child(1) {
  margin-top: 25% !important;
}